<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project pie-test</title>
    <link rel="stylesheet" href="/css/xeicon.min.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.min.css" />
    <link rel="stylesheet" href="/css/ordered.min.css" />
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/common.js"></script>
  </head>
  <body>
    <div class="wrap">
      <header class="header">
        <div class="inner">
          <div class="logo">
            <a href="/views/index.html"><img src="/images/logo-p.svg" alt="logo" /></a>
          </div>
          <a href="/views/notify.html" class="btn-cont">
            <i class="xi-bell-o"></i>
          </a>
        </div>
      </header>
      <div class="container">
        <ul class="tab-menu border-bt">
          <li class="on">
            <a href="#none">제작중</a>
          </li>
          <li>
            <a href="#none">제작완료</a>
          </li>
        </ul>
        <ul class="tab-content">
          <li class="Proceed on">
            <ul class="item-list">
              <li class="item">
                <a href="/views/ordered/orderProgress.html">
                  <span>D-DAY 30일</span>
                  <img class="img-cover" src="/images/people/people3.jpg" alt="" />
                </a>
              </li>
              <li class="item">
                <a href="#none">
                  <span>D-DAY 20일</span>
                  <img class="img-cover" src="/images/people/people8.jpeg" alt="" />
                </a>
              </li>
              <li class="item">
                <a href="#none">
                  <span>D-DAY 2일</span>
                  <img class="img-cover" src="/images/people/people4.jpeg" alt="" />
                </a>
              </li>
            </ul>
          </li>
          <li class="completion">
            <ul class="item-list">
              <li class="item">
                <a href="/views/ordered/orderCompleted.html">
                  <img class="img-cover" src="/images/art/art-6.png" alt="" />
                </a>
              </li>
              <li class="item">
                <a href="#none">
                  <img class="img-cover" src="/images/art/art-2.jpeg" alt="" />
                </a>
              </li>
              <li class="item">
                <a href="#none">
                  <img class="img-cover" src="/images/art/art-5.png" alt="" />
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <nav class="mobile-menu">
        <ul>
          <li>
            <a href="/views/index.html">
              <i class="xi-home-o"></i>
              <p>PRE-ORDER</p>
            </a>
          </li>
          <li class="on">
            <a href="/views/ordered/ordered.html">
              <i class="xi-layout-aside-o"></i>
              <p>ORDERED</p>
            </a>
          </li>
          <li>
            <a href="/views/login.html">
              <i class="xi-user-o"></i>
              <p>MY PAGE</p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
