<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project pie-test</title>
    <link rel="stylesheet" href="/css/xeicon.min.css" />
    <link rel="stylesheet" href="/webjars/slick/slick.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.min.css" />
    <link rel="stylesheet" href="/css/ordered.min.css" />
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/webjars/slick/slick.min.js"></script>
    <script src="/js/common.js"></script>
  </head>
  <body>
    <div class="wrap">
      <header class="header header-alteration">
        <div class="inner">
          <a href="/views/ordered/ordered.html" class="btn-back">
            <i class="xi-angle-left"></i>
          </a>
          <p class="title">프로젝트파이 제작완료</p>
        </div>
      </header>
      <div class="container container-alteration orderCompleted">
        <section class="photo mg15">
          <img src="/images/people/people7.jpeg" alt="" />
        </section>
        <section class="artistIntro">
          <div class="name">
            <h3>이연우</h3>
            <small>화가</small>
          </div>
          <div class="explain">
            <p>
              이연우의 작품은 패션 아이콘, 패턴 및 자연의 영향을받으며, 작품의 주제는 맥락에서 벗어나 다채로운 환경 속에 배치되고있다. Van Meerhaeghe의 예시적인 스타일은 이상한 풍경을 포착하여 기묘한 deja-vu 느낌을 주고있다. 이연우의 기술은
              다양하지만 종종 종이에 수채화를 그리고 추가하여 조각을 시작하는데, 결과가 마음에 들면 아크릴을 사용하여 컨셉을 캔버스로 옮기는 스타일이라 한다.
            </p>
            <p class="explain-hide">
              <br />
              작가의 한마디
              <br />
              "컬러는 모든 언어를 구사합니다. 또한 그것은 영혼에 영향을 미치고 사람들의 기분에 영향을 미칩니다."
            </p>
          </div>
          <div class="btn-more">
            <a href="#none">작가 더 알아보기</a>
          </div>
        </section>
        <section class="introduction">
          <h3 class="sub-tit">작품정보</h3>
          <p>많은 자연 하이킹과 여행에서 영감을 받은 풍경 이미지. 봄의 프랑스 풍경을 해석한 작품입니다.</p>
        </section>
        <section class="slider">
          <ul class="ordered-slider">
            <li>
              <div class="img-area">
                <img src="/images/art/art-6.png" alt="" />
              </div>
            </li>
            <li>
              <div class="img-area">
                <img src="/images/art/art-6-1.png" alt="" />
              </div>
            </li>
          </ul>
        </section>
        <section class="info">
          <h3 class="sub-tit">작품 운용정보 및 소유권 분할 현황</h3>
          <p>작품 운용정보 및 소유권 분할 현황</p>
        </section>
      </div>
    </div>
  </body>
</html>
