<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project pie-test</title>
    <link rel="stylesheet" href="/css/xeicon.min.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.min.css" />
    <link rel="stylesheet" href="/css/mypage.min.css" />
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/common.js"></script>
  </head>
  <body>
    <div class="wrap">
      <header class="header header-alteration">
        <div class="inner">
          <a href="/views/mypage/mypage.html" class="btn-back">
            <i class="xi-angle-left"></i>
          </a>
          <p class="title">설정</p>
        </div>
      </header>
      <div class="container container-alteration settings">
        <ul class="item-list">
          <li>
            <a href="/views/mypage/notifications.html" class="border-bt">알림설정</a>
          </li>
          <li>
            <a href="/views/mypage/usepolicy.html" class="border-bt">이용약관</a>
          </li>
          <li>
            <a href="#none" class="border-bt">앱 버전정보 <span>1.0.0</span></a>
          </li>
          <li>
            <a href="#none" class="border-bt">오픈소스 라이선스</a>
          </li>
          <li>
            <a href="/views/mypage/aboutCont_sub.html" class="border-bt">회사소개</a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
