<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project pie-test</title>
    <link rel="stylesheet" href="/css/xeicon.min.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.min.css" />
    <link rel="stylesheet" href="/css/mypage.min.css" />
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/common.js"></script>
  </head>
  <body>
    <div class="wrap">
      <header class="header header-alteration">
        <div class="inner">
          <a href="/views/settings.html" class="btn-back">
            <i class="xi-angle-left"></i>
          </a>
          <p class="title">회사소개</p>
        </div>
      </header>
      <div class="container container-alteration aboutCont">
        <ul class="about-info">
          <li>
            <strong>슈퍼젤리 주식회사</strong>
          </li>
          <li>
            <span>대표자</span>
            <em>:</em>
            <span>장동선</span>
          </li>
          <li>
            <span>주소</span>
            <em>:</em>
            <span>경기도 화성시 효행로707번길 30</span>
          </li>
          <li>
            <span>사업자등록번호</span>
            <em>:</em>
            <span>000-00-00000</span>
          </li>
          <li>
            <span>통신판매업신고</span>
            <em>:</em>
            <span>제2022-경기화성-0000호</span>
          </li>
          <li>
            <span>고객센터</span>
            <em>:</em>
            <span>superjelly.hutu@gmail.com</span>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
