<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project pie-test</title>
    <link rel="stylesheet" href="/css/xeicon.min.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.min.css" />
    <link rel="stylesheet" href="/css/mypage.min.css" />
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/common.js"></script>
  </head>
  <body>
    <div class="wrap">
      <header class="header header-alteration">
        <div class="inner">
          <a href="/views/mypage/inquiry.html" class="btn-back">
            <i class="xi-angle-left"></i>
          </a>
          <p class="title">1:1 문의</p>
        </div>
      </header>
      <div class="container container-alteration answerCont">
        <div class="tit border-bt mg15">
          <p>문의사항(3)</p>
          <span class="date">2022-06-07</span>
        </div>
        <div class="text border-bt mg15">
          <p>
            찬미를 꾸며 맺어, 미인을 간에 사막이다. 눈에 커다란 곳이 피에 얼마나 품었기 황금시대의 봄바람이다. 가는 같은 있는 행복스럽고 공자는 그들은 사라지지 같은 황금시대다. 끝까지 든 인간이 있는 되는 있으랴? 광야에서 뜨거운지라, 충분히
            풍부하게 사랑의 있으며, 것이다. 그러므로 없으면 눈이 전인 위하여, 아니한 것이다.
          </p>
        </div>
        <div class="cont-box">
          <div class="cont head border-bt mg15">
            <span class="state">답변</span>
            <span><em>2022-06-08</em> 에 작성된 답변입니다.</span>
          </div>
          <div class="cont body border-bt mg15">
            <p>문의하신 사항 답변입니다.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
