<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project pie-test</title>
    <link rel="stylesheet" href="/css/xeicon.min.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.min.css" />
    <link rel="stylesheet" href="/css/mypage.min.css" />
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/common.js"></script>
  </head>
  <body>
    <div class="wrap">
      <header class="header header-alteration">
        <div class="inner">
          <a href="/views/mypage/service.html" class="btn-back">
            <i class="xi-angle-left"></i>
          </a>
          <p class="title">자주 묻는 질문</p>
        </div>
      </header>
      <div class="container container-alteration faq">
        <ul class="tab-menu border-bt">
          <li><a href="/views/mypage/notice.html">공지사항</a></li>
          <li><a href="/views/mypage/guide.html">이용자가이드</a></li>
          <li><a href="/views/mypage/event.html">이벤트</a></li>
          <li class="on"><a href="/views/mypage/faq.html">자주 묻는 질문</a></li>
        </ul>
        <ul class="tab-content">
          <li class="on">
            <ul class="item-list mg15">
              <li class="item border-bt">
                <a href="/views/mypage/faqCont.html">
                  <p class="tit">자주 묻는 질문(3)</p>
                </a>
              </li>
              <li class="item border-bt">
                <a href="#">
                  <p class="tit">자주 묻는 질문(2)</p>
                </a>
              </li>
              <li class="item border-bt">
                <a href="#">
                  <p class="tit">자주 묻는 질문(1)</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
