<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project pie-test</title>
    <link rel="stylesheet" href="/css/xeicon.min.css" />
    <link rel="stylesheet" href="/webjars/slick/slick.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.min.css" />
    <link rel="stylesheet" href="/css/mypage.min.css" />
    <script src="/js/jquery-3.2.1.min.js"></script>
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script src="/webjars/slick/slick.min.js"></script>
    <script src="/js/common.js"></script>
  </head>
  <body>
    <div class="wrap">
      <header class="header header-alteration">
        <div class="inner">
          <a href="/views/mypage/myArt.html" class="btn-back">
            <i class="xi-angle-left"></i>
          </a>
          <p class="title">내 작품</p>
        </div>
      </header>
      <section class="container container-alteration myArtCont">
        <div class="photo mg15">
          <img src="/images/people/people7.jpeg" alt="" />
        </div>
        <div class="artistIntro">
          <div class="name">
            <h3>이연우</h3>
            <small>화가</small>
          </div>
          <div class="explain">
            <p>
              이연우의 작품은 패션 아이콘, 패턴 및 자연의 영향을받으며, 작품의 주제는 맥락에서 벗어나 다채로운 환경 속에 배치되고있다. Van Meerhaeghe의 예시적인 스타일은 이상한 풍경을 포착하여 기묘한 deja-vu 느낌을 주고있다. 이연우의 기술은
              다양하지만 종종 종이에 수채화를 그리고 추가하여 조각을 시작하는데, 결과가 마음에 들면 아크릴을 사용하여 컨셉을 캔버스로 옮기는 스타일이라 한다.
            </p>
            <p class="explain-hide">
              <br />
              작가의 한마디
              <br />
              "컬러는 모든 언어를 구사합니다. 또한 그것은 영혼에 영향을 미치고 사람들의 기분에 영향을 미칩니다."
            </p>
          </div>
          <div class="btn-more">
            <a href="#none">작가 더 알아보기</a>
          </div>
        </div>
        <div class="info">
          <div class="tit">
            <span>프리오더 작품</span>
            <h3>Awakening</h3>
          </div>
          <ul class="plan item-list">
            <li class="item">
              <h4>프리오더 기간</h4>
              <p>2022.06.01 ~ 2022.07.01</p>
            </li>
            <li class="item">
              <h4>재료</h4>
              <p>캔버스에 아크릴</p>
            </li>
            <li class="item">
              <h4>규격</h4>
              <p>W60xH60</p>
            </li>
            <li class="item">
              <h4>가격</h4>
              <p>1,630,000원</p>
            </li>
          </ul>
        </div>
        <div class="interview">
          <div class="img-area">
            <img src="/images/art/art-6.png" alt="" class="img-cover" />
          </div>
          <div class="text-area">
            <h3 class="sub-tit">작가 인터뷰</h3>
            <p>
              화가가 된 계기 화가가 된 특별한 계기는 없는 것 같다. 초등학교 시절 미대를 가길 원했었는데, 여러 가지 여건 등으로 인해 진학하지 못 했다. 어릴 적부터 그러한 상황을 보면서 자라다가 진로를 고민하는 시기에 직장생활을 하면서 살기는
              싫었다. 남들과 같은 삶을 사는 것보다 내가 하고 싶은 것을 하자라는 생각이 들었다. 그 후부터 미술에 관심이 생겨 고등학교 미술부에 들어가면서 본격적으로 미술을 시작하게 됐으며, 미대를 졸업하고 벨기에로 유학을 다녀오면서 지금까지
              미술 작가 활동을 하고 있다.
            </p>
          </div>
        </div>
        <div class="art">
          <h3 class="sub-tit">이연우 작가의 작품</h3>
          <ul class="art-slider">
            <li>
              <div class="img-area">
                <img src="/images/art/art-6.png" alt="" />
              </div>
              <div class="text-area">
                <h5>Awakening</h5>
                <p>캔버스에 아크릴, W60xH60</p>
              </div>
            </li>
            <li>
              <div class="img-area">
                <img src="/images/art/art-7.png" alt="" />
              </div>
              <div class="text-area">
                <h5>Gazing the water</h5>
                <p>캔버스에 아크릴, W80xH60</p>
              </div>
            </li>
            <li>
              <div class="img-area">
                <img src="/images/art/art-8.png" alt="" />
              </div>
              <div class="text-area">
                <h5>Longings</h5>
                <p>캔버스에 아크릴, W80xH60</p>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </body>
</html>
