<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project pie-test</title>
    <link href="//cdn.jsdelivr.net/xeicon/2/xeicon.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.min.css" />
    <link rel="stylesheet" href="/css/mypage.min.css" />
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/common.js"></script>
  </head>
  <body>
    <div class="wrap">
      <header class="header header-alteration">
        <div class="inner">
          <a href="/views/mypage/mypage.html" class="btn-back">
            <i class="xi-angle-left"></i>
          </a>
          <p class="title">내 작품</p>
        </div>
      </header>
      <div class="container container-alteration myArt">
        <ul class="tab-menu border-bt">
          <li class="on"><a href="#none">전체</a></li>
          <li><a href="#none">진행중</a></li>
          <li><a href="#none">제작완료</a></li>
        </ul>
        <ul class="tab-content mg15">
          <li class="on">
            <ul class="item-list">
              <li class="item border-bt">
                <a href="#none">
                  <div class="cont contTop">
                    <span class="name">연진영</span>
                    <span class="tit">디자인체어</span>
                  </div>
                  <div class="cont conBot">
                    <span class="current">프리오더 진행중</span>
                    <span class="have"><em>20</em>조각 구매완료</span>
                  </div>
                </a>
              </li>
              <li class="item border-bt">
                <a href="/views/mypage/myArtCont.html" class="artImg">
                  <div class="cont contTop">
                    <span class="name">이연우</span>
                    <span class="tit">Awakening</span>
                  </div>
                  <div class="cont conBot">
                    <span class="current">작품제작 완료</span>
                    <span class="have"><em>10</em>조각 소유권보유</span>
                  </div>
                </a>
              </li>
              <li class="item border-bt">
                <a href="#none" class="artImg">
                  <div class="cont contTop">
                    <span class="name">권순영</span>
                    <span class="tit">슬픈모유</span>
                  </div>
                  <div class="cont conBot">
                    <span class="current">작품제작 완료</span>
                    <span class="have"><em>10</em>조각 소유권보유</span>
                  </div>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="item-list">
              <li class="item border-bt">
                <a href="#none">
                  <div class="cont contTop">
                    <span class="name">연진영</span>
                    <span class="tit">디자인체어</span>
                  </div>
                  <div class="cont conBot">
                    <span class="current">프리오더 진행중</span>
                    <span class="have"><em>20</em>조각 구매완료</span>
                  </div>
                </a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="item-list">
              <li class="item border-bt">
                <a href="/views/mypage/myArtCont.html" class="artImg">
                  <div class="cont contTop">
                    <span class="name">이연우</span>
                    <span class="tit">Awakening</span>
                  </div>
                  <div class="cont conBot">
                    <span class="current">작품제작 완료</span>
                    <span class="have"><em>8</em>조각 소유권보유</span>
                  </div>
                </a>
              </li>
              <li class="item border-bt">
                <a href="#none" class="artImg">
                  <div class="cont contTop">
                    <span class="name">권순영</span>
                    <span class="tit">슬픈모유</span>
                  </div>
                  <div class="cont conBot">
                    <span class="current">작품제작 완료</span>
                    <span class="have"><em>10</em>조각 소유권보유</span>
                  </div>
                </a>
              </li>

            </ul>
          </li>
        </ul>

        </ul>
      </div>
    </div>
  </body>
</html>
