<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project pie-test</title>
    <link rel="stylesheet" href="/css/xeicon.min.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.min.css" />
    <link rel="stylesheet" href="/css/mypage.min.css" />
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/mypage.js"></script>
  </head>
  <body>
    <div class="wrap">
      <header class="header">
        <div class="inner">
          <a href="/views/index.html" class="btn-back">
            <i class="xi-angle-left"></i>
          </a>
          <div class="logo">
            <a href="/views/index.html"><img src="/images/logo-p.svg" alt="logo" /></a>
          </div>
          <a href="/views/settings.html" class="btn-cont">
            <i class="xi-cog"></i>
          </a>
        </div>
      </header>
      <div class="container myPage">
        <div class="myInfo">
          <h4>내 정보</h4>
          <ul class="item item1">
            <li class="user-name border-box">
              <span class="user">서국화(email-address@naver.com)</span>
              <a href="/views/mypage/memberData.html" class="user-icon">
                <i class="xi-user"></i>
              </a>
            </li>
            <li class="user-cash border-box">
              <span>예치금</span>
              <span class="cash">999,999,999</span>
              <a href="/views/mypage/deposit.html" class="btn-deposit">충전하기</a>
            </li>
          </ul>
        </div>
        <div class="present">
          <h4>나의 작품 현황</h4>
          <ul class="item item2">
            <li>
              <a href="#none" class="num border-box">
                <span class="step step1">프리오더 진행중</span>
                <p>2</p>
              </a>
            </li>
            <li>
              <a href="#none" class="num border-box">
                <span class="step step2">작품 제작중</span>
                <p>2</p>
              </a>
            </li>
            <li>
              <a href="#none" class="num border-box">
                <span class="step step1">보유 작품</span>
                <p>5</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="list">
          <ul class="item item3">
            <li class="border-box">
              <a href="/views/mypage/myArt.html">
                <span>내 작품 목록</span>
                <i class="xi-angle-right-thin"></i>
              </a>
            </li>
            <li class="border-box">
              <a href="/views/mypage/deposit.html">
                <span>예치금 내역</span>
                <i class="xi-angle-right-thin"></i>
              </a>
            </li>
            <li class="border-box">
              <a href="/views/mypage/service.html">
                <span>고객센터</span>
                <i class="xi-angle-right-thin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <nav class="mobile-menu">
        <ul>
          <li>
            <a href="/views/index.html">
              <i class="xi-home-o"></i>
              <p>PRE-ORDER</p>
            </a>
          </li>
          <li>
            <a href="/views/ordered/ordered.html">
              <i class="xi-layout-aside-o"></i>
              <p>ORDERED</p>
            </a>
          </li>
          <li class="on">
            <a href="/views/mypage/mypage.html">
              <i class="xi-user-o"></i>
              <p>MY PAGE</p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>
