<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project pie-test</title>
    <link rel="stylesheet" href="/css/xeicon.min.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.min.css" />
    <link rel="stylesheet" href="/css/main.min.css" />
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/common.js"></script>
  </head>
  <body>
    <div class="wrap">
      <header class="header header-alteration">
        <div class="inner">
          <a href="/views/index.html" class="btn-back">
            <i class="xi-angle-left"></i>
          </a>
          <p class="title">UPCOMING</p>
        </div>
      </header>
      <div class="container container-alteration upcomingCont">
        <div class="cont-box">
          <div class="sub-bn">
            <img class="img-cover" src="/images/art/sub-img-1.png" alt="" />
          </div>
          <div class="text-area">
            <p>
              다음 테마는 자연, 사람의 힘이 더해지지 아니하고 세상에 스스로 존재하거나 우주에 저절로 이루어지는 모든 존재나 상태 혹은 사람의 힘이 더해지지 아니하고 저절로 생겨난 산, 강, 바다, 식물, 동물 따위의 존재. 또는 그것들이 이루는
              지리적ㆍ지질적 환경
            </p>
          </div>
          <div class="open-deta">2020년 10월 1일 공개됩니다.</div>
        </div>
        <a href="#none" class="btn-do mg20 pd15 btn-modal"> 오픈 알림 신청 </a>
      </div>
    </div>
    <!-- modal -->
    <div id="modal" class="modal">
      <div class="modal-box">
        <div class="inner">
          <p class="text">프리오더 오픈 알림을 신청했습니다.</p>
          <button type="button" class="btn-purple btn-close">확인</button>
        </div>
      </div>
    </div>
  </body>
</html>
